/* Styles for the app container */
.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://www.publicdomainpictures.net/pictures/250000/velka/kitchen-equipment.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

/* Styles for the home component */
.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ivory);

}

/* Styles for the footer component */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: var(--fontFooter);
}
