.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../assets/woodTexture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--flax);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin: 3rem;
    max-width: 90%;
    width: 800px;
  }
  
  .userDash{
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: var(--brownLetter);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 2px solid var(--dark);
    border-radius: 50%;
    background-color: var(--flax);
    padding: 1rem;
  }
  
  .userDash:hover{
    transform: translateY(4px);
  }
  
  .userDash:focus{
    outline: none;
  }
  
  .userDash:active{
    transform: translateY(4px);
  }
  
  .userDash i{
    transition: all 0.2s ease-in-out;
    list-style: none;
  }
  
  .userDash i:hover{
    color: var(--green-bg);
  }
  
  .userName{
    font-weight:lighter;
    color: var(--dark);
  }
  
  @media screen and (max-width: 1200px){
    video {
      display: none;
    }
    
    .content{
      padding: 1rem;
      margin: 1rem;
      max-width: 90%;
      width: 400px;
    }
  
    .welcomeTitle{
      font-size: 2rem;
    }
  
    .welcomeButton{
      font-size: 1rem;
      padding: 10px 24px;
    }
  
    .userDash{
      padding: 0.5rem;
      top: 10px;
      right: 10px;
    }
  }
  
  @media screen and (max-height: 800px){
    video {
      display: none;
    }

    .content{
      padding: 1rem;
      margin: 1rem;
      max-width: 50%;
      width: 200px;
    }

    .welcomeTitle{
      font-size: 2rem;
    }

    .welcomeButton{
      font-size: 1rem;
    }
  }
  
  .welcomeButton{
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin: 1rem;
  }
  
  .welcomeButton:hover{
    background-color: #3e8e41;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
  }
  
  .welcomeButton:active{
    background-color: #3e8e41;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
  }
  
  .welcomeButton:focus{
    outline: none;
  }