<div class="home">
  <div class="content">
    <div class="welcomeTitle">
    <video autoplay muted>
      <source src="../../assets/LHC !(1).mp4" type="video/mp4" >
    </video>
    </div>
    <button class="welcomeButton" (click)="redirectToMainPage()">Enter the Kitchen</button>
      <div *ngIf="user">
        <h2>Welcome {{user.firstName + ' ' + user.lastName}}</h2>
  </div>
  <div class="userDash">
      <i class="fa fa-user-circle fa-lg">   
        <a routerLink="/dashboard"></a>
      </i>
      <div class="userName" *ngIf="user">
        <p> {{user.firstName + ' ' + user.lastName}}</p>
      </div>
  </div>
</div>
