.welcomeButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.welcomeButton:hover{
    background-color: #3e8e41;
}

.welcomeButton:active{
    background-color: #3e8e41;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

.welcomeButton:focus{
    outline: none;
}
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--verdigris);
    border: 1px solid var(--black);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

h1{
    font-family: var(--fontTitle);
    font-size: 3rem;
    color: var(--black);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: var(--flax);
}

h2{
    font-family: var(--fontTitle);
    font-size: 1rem;
    color: var(--black);
    text-align: center;
    margin: 1rem;
    padding: 1rem;
} 
